@font-face {
  font-family: M700;
  src: url(../fonts/Montserrat-Bold.woff2);
}
@font-face {
  font-family: M600;
  src: url(../fonts/Montserrat-SemiBold.woff2);
}
@font-face {
  font-family: M500;
  src: url(../fonts/Montserrat-Medium.woff2);
}
* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  min-height: 979px;
  background-image: url(../img/back-header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-header {
  width: 100%;
  min-height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(59.9%, rgba(0, 0, 0, 0.48)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.48) 59.9%, rgba(0, 0, 0, 0) 100%);
  margin: 0 0 52px 0;
}
.header-header-text {
  width: 175px;
  color: white;
  line-height: 20px;
  font-size: 16px;
  font-family: M700;
  text-decoration: none;
}
.header-header-nav {
  margin: 0 76px 0 79px;
}
.header-header-nav-list {
  width: 506px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-header-nav-list-item-link {
  text-decoration: none;
  color: white;
  line-height: 17px;
  font-size: 14px;
  font-family: M600;
}
.header-header-nav-list-item-link:hover {
  color: #FEDA1F;
}
.header-header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-header-contacts-tel {
  margin: 0 30px 0 0;
}
.header-header-contacts-tel-link {
  color: white;
  line-height: 20px;
  font-size: 16px;
  font-family: M600;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-header-contacts-tel-link::before {
  content: url(../img/tel-ico.svg);
  margin: 0 15px 0 0;
}
.header-header-contacts-tel-text {
  color: white;
  line-height: 15px;
  font-size: 12px;
  font-family: M500;
  display: block;
}
.header-header-contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-header-contacts-social a {
  text-decoration: none;
}
.header-header-contacts-social .whatsapp {
  margin: 0 0 9px 0;
}
.header-info {
  width: 987px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}
.header-info-title {
  width: 100%;
  text-align: center;
  color: white;
  line-height: 98px;
  font-size: 80px;
  font-family: M700;
  margin: 0 0 49px 0;
}
.header-info-text {
  width: 387px;
  margin: 0 0 38px 0;
  color: white;
  line-height: 24px;
  font-size: 20px;
  font-family: M700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-info-text::before {
  content: url(../img/car-ico.svg);
  margin: 0 31px 0 0;
}
.header-info .margin-right {
  margin: 0 20px 0 0;
}
.header-info-form {
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 857px;
  min-height: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 67px 67px 63px;
}
.header-info-form-title {
  width: 100%;
  color: black;
  line-height: 24px;
  font-size: 20px;
  font-family: M700;
  margin: 0 0 31px 0;
}
.header-info-form-title .yellow {
  color: #FEDA1F;
}
.header-info-form-title .text {
  color: #9F9F9F;
  line-height: 17px;
  font-size: 14px;
  font-family: M600;
  padding: 5px 0 0 24px;
}
.header-info-form input, .header-info-form textarea, .header-info-form select {
  border: 2px solid #C5C5C5;
  border-radius: 5px;
}
.header-info-form input:focus, .header-info-form input:active, .header-info-form textarea:focus, .header-info-form textarea:active, .header-info-form select:focus, .header-info-form select:active {
  outline: none;
  border: 2px solid #2747F0;
}
.header-info-form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-info-form .left #name, .header-info-form .left #tel {
  width: 380px;
  margin: 0 0 20px 0;
  padding: 16px 0px 17px 32px;
}
.header-info-form .left #comment {
  width: 382px;
  height: 104px;
  padding: 16px 0 0 30px;
}
.header-info-form .right {
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
}
.header-info-form .right #date {
  width: 220px;
  height: 48px;
  margin: 0 0 19px 0;
}
.header-info-form .right #time {
  width: 160px;
  height: 50px;
}
.header-info-form .right #street1, .header-info-form .right #street2 {
  width: 190px;
  height: 50px;
  margin: 0 0 18px 0;
}
.header-info-form .right #class-car {
  width: 350px;
  height: 50px;
  padding: 0px 30px;
  margin: 0 0 20px 0;
}
.header-info-form .right #class-car option {
  color: #9F9F9F;
  line-height: 17px;
  font-size: 14px;
  font-family: M600;
}
.header-info-form .right #taxi {
  color: white;
  line-height: 17px;
  font-size: 14px;
  font-family: M700;
  padding: 17px 70px 16px 71px;
  background-color: #2747F0;
  -webkit-box-shadow: 0px 0px 10px rgba(39, 68, 222, 0.3);
          box-shadow: 0px 0px 10px rgba(39, 68, 222, 0.3);
  border-radius: 30px;
  border: none;
}
.header-info-form .right #taxi:focus, .header-info-form .right #taxi:active {
  outline: none;
  border: none;
}
