@font-face {
	font-family: M700;
	src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
	font-family: M600;
	src: url(../fonts/Montserrat-SemiBold.woff2);
}

@font-face {
	font-family: M500;
	src: url(../fonts/Montserrat-Medium.woff2);
}
