// main
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}


// six
.six {
	width: 1110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 77px 0 107px 0;

	&-title{
		width: 100%;
		@include txt($c1, 49px, 40px, M700);
		padding: 0 0 40px 54px;

		.black{
			color: $black;
		}
	}

	&-block{
		width: 350px;
		min-height: 182px;
		background: linear-gradient(180deg, #2747F0 0%, #203DD6 100%);
		box-shadow: 0px 0px 20px rgba(39, 71, 240, 0.3);
		border-radius: 10px;
		display: flex;
		flex-direction: column;

		&-title{
			display: flex;
			align-items: center;
			margin: 28px 0 15px 26px;

			&-img{
				margin-right: 19px;
			}

			&-text{
				@include txt($white, 20px, 16px, M700);
			}
		}

		&-content{
			@include txt($white, 20px, 16px, M500);
			margin: 0 0 0 26px;
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4){
			margin-bottom: 32px;
		}
	}
}


// article
.article {
	min-height: 444px;
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 0 92px 0;

	&-block-text{
		width: 795px - 64px - 63px;
		height: 444px - 76px - 57px;
		padding: 76px 64px 57px 63px;
		display: flex;
		flex-direction: column;
		background: $white;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		position: relative;

		&-title{
			@include txt($black, 24px, 20px, M500);
			margin: 0 0 33px 0;
		}

		&-text{
			@include txt($c2, 20px, 16px, M500);
		}

		.quotes{
			@include txt($c5, 146px, 120px, M700);
			position: absolute;
			top: -43px;
			left: 63px;
		}
	}

	&-picture{
		display: block;
		width: 400px;
		min-height: 331px + 70px + 43px;
		margin-left: -100px;
		background: #FEDA1F;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		position: relative;
		z-index: -1;
	}
	&-img{
		position: absolute;
		bottom: -20px;
		right: 1px;
		z-index: 4;
	}
}


// class-car
.class-car {
	width: 1114px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 70px 0;

	&-title{
		width: 100%;
		padding: 0 0 0 63px;
		@include txt($c5, 49px, 40px, M700);
		margin: 0  0 50px 0;

		&-yellow{
			color: $c1;
		}
	}

	&-block{
		width: 256px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		&-title{
			@include txt($c5, 20px, 16px, M700);
			margin: 0 0 16px 0;
		}

		&-text{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include txt($c2, 20px, 16px, M600);
			margin: 0 0 16px 0;

			.person{
				display: flex;
				align-items: center;

				&::before{
					content: url(../img/persone-ico.svg);
					margin: 0 5px 0 0;
				}
			}

			.suitcase{
				display: flex;
				align-items: center;

				&::before{
					content: url(../img/suitcase-ico.svg);
					margin: 0 7px 0 0;
				}
			}
		}

		&-btn{
			width: 100%;
			text-align: center;
			background-color: $c3;
			box-shadow: 0px 0px 10px rgba(39, 68, 222, 0.3);
			border-radius: 30px;
			border: none;
			padding: 16.5px 0;
			@include txt($white, 17px, 14px, M700);

			&:focus, &:active{
				border: none;
				outline: none;
			}
		}

		&:not(:nth-child(2)) img{
			margin-bottom: 43px;
		}

		&:nth-child(4) img,
		&:nth-child(5) img{
			margin-bottom: 51px;
		}
	}
}


// popular
.popular {
	width: 1110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 80px 0;

	&-title{
		width: 100%;
		padding: 0 0 0 61px;
		margin: 0 0 46px 0;
		@include txt($c5, 49px, 40px, M700);

		.yellow{
			color: $c1;
		}
	}

	&-block{
		width: 350px;
		min-height: 260px;
		border-radius: 10px;
		display: flex;
		align-items: flex-end;

		.row{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
		}

		&-content{
			display: flex;
			flex-direction: column;
			margin-left: 21px;

			.name{
				@include txt($white, 20px, 16px, M700);
				margin: 0 0 5px 0;
			}

			.price{
				@include txt($c1, 17px, 14px, M700);
			}
		}

		&-btn{
			margin-right: 21px;
			@include txt($white, 17px, 14px, M700);
			padding: 17px 30px 16px;
			background: #2747F0;
			box-shadow: 0px 0px 10px rgba(39, 68, 222, 0.3);
			border-radius: 30px;
			border: none;

			&:focus, &:active{
				outline: none;
			}
		}

		&:nth-child(2){
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.456) 59.9%, rgba(0, 0, 0, 0.6) 100%), url(../img/img1.png), no-repeat;
			margin-bottom: 26px;
		}
		&:nth-child(3){
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.456) 59.9%, rgba(0, 0, 0, 0.6) 100%) ,url(../img/img2.png), no-repeat;
			margin-bottom: 26px;
		}
		&:nth-child(4){
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.456) 59.9%, rgba(0, 0, 0, 0.6) 100%), url(../img/img3.png), no-repeat;
			margin-bottom: 26px;
		}
		&:nth-child(5){
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.456) 59.9%, rgba(0, 0, 0, 0.6) 100%), url(../img/img4.png), no-repeat;
			margin-bottom: 40px;
		}
		&:nth-child(6){
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.456) 59.9%, rgba(0, 0, 0, 0.6) 100%), url(../img/img5.png), no-repeat;
			margin-bottom: 40px;
		}
		&:nth-child(7){
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.456) 59.9%, rgba(0, 0, 0, 0.6) 100%), url(../img/img6.png), no-repeat;
			margin-bottom: 40px;
		}
	}

	&-link{
		width: 283px;
		margin: 0 auto;
		@include txt($c5, 20px, 16px, M700);
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;

		.blue{
			color: $c3;
			display: flex;
			align-items: center;
		}

		&::after{
			content: url(../img/arrow.svg);
			margin-left: 10px;
			display: flex;
			align-items: center;
		}
	}
}


// statistic
.statistic {

	&-title{

	}

	&-block{

	}
}


// reviews
.reviews {

	&-title{

	}

	&-yellow{

	}

	&-text{

	}

	&-block{

	}
}

// faq
.faq {

	&-title{

	}

	&-accord{

	}

	&-block-text{

	}

	&-text{

	}
}

// form
.form {

	&-text{

		&-title{

		}

		&-text{

		}
	}

	&-yellow{

	}

	&-btn{

	}
}