@import '_fonts.scss';

@mixin txt($c, $lh, $fz, $ff){
	color: $c;
	line-height: $lh;
	font-size: $fz;
	font-family: $ff;
}

*{
	padding: 0;
	margin: 0;
}

//переменные
//size
$w: 100%;
$h: 100%;
//color
$black: black;
$white: white;
$c1: #FEDA1F;
$c2: #9F9F9F;
$c3: #2747F0;
$c4: #C5C5C5;
$c5: #2C2C2C;
